* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app__main {
    width: 100%;
    min-height: 100vh;
    background-color: var(--light-pink);
    padding: 10px;
}

li {
    list-style: none;
}

.app__title {
    color: var(--light-blue);
    font-weight: lighter;
    font-size: 28px;
    padding: 5px;
    /* text-align: center; */
}
